<!DOCTYPE
  html
  > <html
  lang="ko"
  > <head
  > <meta
  charset="UTF-8"
  /
  > <title
  > style-h</title
  > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}
li {
  list-style: none;
}
body {
  color: black;
  font-size: 1.1rem;
}
.wrap {
  max-width: 1600px;
  margin: auto;
}
header {
  padding-top: 2%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: white;
}
.logo {
  width: 200px;
  margin-right: 3%;
}
nav ul {
  width: max-content;
}
nav ul li {
  display: inline-block;
  margin: 0% 2.5rem;
}
main {
  height: 700px;
  background: url(img/main.jpg) no-repeat center;
  background-size: 100% 100%;
  text-align: center;
}
p {
  text-align: center;
}
h4 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: 2%;
}
h3 {
  text-align: center;
}

.product {
  padding: 4%;
  text-align: center;
  padding-top: 5%;
}
.ct1,
.ct2 {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.c1 {
  width: 32%;
}
.c1text {
  font-size: 1.5rem;
}
b {
  font-size: 3rem;
  text-align: left;
}
.ct1-bg {
  margin: 0.8rem auto;
  padding: 0% 2%;
}
.ct2-bg {
  background: gold;
  margin-top: 10%;
}
.c2-left {
  width: 60%;
  padding: 3% 0;
  text-align: center;
}
.c2-left.yb1 {
  font-size: 2rem;
}

.c2-right {
  width: 40%;
  height: 20%;
  text-align: right;
  margin-top: 10rem;
}
.yb2 {
  font-size: 1rem;
  padding: 3% 0%;
}

.yb {
  text-align: center;
}
.st1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 800px;
}
.st1-bg {
  padding: 5% 5%;
}
.s1 {
  width: 23%;
  padding: 2% 0%;
  text-align: right;
  font-size: 1.5rem;
}
p {
  padding: auto;
}
.s1 img {
  width: 100%;
  height: 100%;
}
.mt {
  margin: 5%;
  font-size: 2rem;
  text-align: center;
}

.st2 {
  display: flex;
  justify-content: space-between;
  padding: 8% 0%;
}
.s2 {
  width: 100%;
  padding: 2% 0%;
}
.s2 h2 {
  font-size: ;
}
.s2 img {
  width: 100%;
  padding: 0 1%;
}
.main2 {
  height: 700px;
  background: url(img/main2.jpg) no-repeat center;
  background-size: 100% 100%;
}
.best {
  background-color: beige;
  padding: 4%;
}
.one {
  font-size: 3rem;
}
.best1 {
  text-align: left;
  font-size: 2rem;
}
.toray {
  font-size: 1.5rem;
  text-align: center;
}

.foot-bg {
  padding: 1% 0%;
  background: grey;
}
.foot {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}
.foot-left {
  width: 200px;
  margin: 1% 0%;
  margin-right: 2%;
}
.foot-right {
  width: 800px;
  margin: 1% 0%;
}
.f2 {
  word-spacing: 25px;
}
.f1,
.f2 {
  color: white;
}
/*모바일사이즈*/
@media (max-width: 600px) {
  .wrap {
    width: 96%;
    margin: 3rem auto;
  }
  header,
  .foot,
  .foot-left,
  .foot-right {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  main {
    height: 400px;
  }
  .main2 {
    height: 280px;
  }
  h4 {
    font-size: 2rem;
    margin-top: 2%;
  }

  .foot-left {
    width: 200px;
    margin: auto;
  }
  .foot-right {
    width: 80%;
  }
  .logo {
    margin-top: 1rem;
  }
  nav ul {
    margin: auto;
  }
  nav ul li {
    margin: 0% 1rem 0.65rem;
  }
  .product {
    padding-top: 15%;
    text-align: center;
  }
  .ct1,
  .ct2 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .c1 {
    width: 32%;
  }
  .c1text {
    font-size: 1rem;
  }
  b {
    font-size: 2rem;
    text-align: left;
  }
  .ct1-bg {
    margin: 8% auto;
    padding: 0% 2%;
  }
  .ct2-bg {
    margin-top: 18%;
  }

  .c2-left {
    width: 60%;
  }

  .c2-right {
    font-size: 1rem;
    text-align: right;
    padding-bottom: 1rem;
  }

  .c2-left h2 {
    padding-top: 15%;
    text-align: center;
  }
  .c2-left .yb1 {
    font-size: 0.8rem;
  }

  .st1 {
    width: 96%;

    max-width: 600px;
    margin: auto;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .st1-bg {
    padding: 10% 0;
  }
  .s1 {
    width: 46%;
    padding: 2% 0%;
    text-align: right;
    font-size: 0.8rem;
  }
  .s1 img {
    width: 100%;
  }
  .mt {
    margin-top: 20%;
    text-align: center;
  }

  .st2 {
    display: flex;
    justify-content: space-between;
  }
  .s2 {
    width: 100%;
    padding: 0% 0%;
  }
  .s2 h2 {
    font-size: ;
  }
  .s2 img {
    width: 100%;
    padding: 0 2%;
  }
  .best {
    padding: 4%;
  }
  .one {
    font-size: 1.5rem;
  }
  .toray {
    font-size: 1rem;
    text-align: center;
  }
  .yb {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }
  .yb2 {
    font-size: 0.8rem;
  }
  .best1 {
    text-align: left;
    font-size: 1rem;
  }

  .foot-bg {
  }
  .foot {
    display: flex;
    justify-content: space-between;
  }
  .foot-left {
    margin: 0% 0%;
  }

  .foot-right {
    margin: 0% 3rem;
    text-align: center;
  }
  .f2 {
    font-size: 0.8rem;
  }
}
